
{% extends 'layout.html'%}
{%block content%}
<div class="content-section">
	
	<h2>DAILY ENTRY</h2>
<form action="{{ url_for('enter')}}" method='POST'>
	
    <div class="container">
		<div>
		  <label for="amount"><b>Amount</b></label>
		  <input type="number" placeholder="Enter amount" name="amount" required>
		</div>
		
		<div>
		  <label for="transaction_type"><b>Transaction Type</b></label>
		  <select id='transaction_type' name='transaction_type' required>
			  <option value='credit'>
				  Credit
			  </option>
			  <option value='debit'>
				  Debit

			  </option>

		  </select>
		
		</div>
		<div>
			<label for="Transaction_by"><b>Transaction By</b></label>
			<select name='Transaction_by' id='Transaction_by'>
				<option value='me'>Me</option>
				
			</select>
		</div>
		<div>
			<label for="purpose"><b>Purpose</b></label>
			<select id='purpose' name='purpose'>
				<option value='fuel'>Fuel</option>
				<option value='automobiles'>Automobiles</option>
				<option value='groceries'>Groceries</option>
			</select>
			<input type="text" id="val" name='val'>
            <button onclick="insertvalue();">add</button>
		</div>
		<div>
			<label for="form_of_transaction"><b>Form Of Transaction</b></label>
			<select id='form_of_transaction' name='form_of_transaction'>
				<option value='cash'>Cash</option>
				<option value='card'>Card</option>

			</select>
		</div>
	
		
		<div>
			<button type="submit">Submit</button>
		  
	  </div>    
		
	  </div>
	
	

</form>


{% endblock %}

